.consent-rgpd {
  margin-left: 1rem;
  margin-right: 1rem;
}

.consent-rgpd__content {
  color: #fff;
  font-size: 0.75rem;
  font-family: "Montserrat";
  text-align: justify;
  margin-bottom: 1rem;
}
