.footer {
  padding: 1rem 0;
  margin-top: auto !important;
  margin-bottom: 0.1rem !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer__content {
  color: #767676;
  font-family: "Montserrat";
  font-size: 0.75rem;
  display: flex;
  justify-content: center;
}

.logoFooter {
  margin-left: 0.5rem;
}
