.widget {
  background: #0a0a0a;
  width: 24rem;
  max-height: 36rem;
  border-radius: 2rem;
}

.shoperPhoto {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 4rem;
}
